tensorflow==1.15.5
tensorflow-gpu==1.15.5
keras_self_attention==0.41.0
seaborn==0.10.0
Flask_Cors==3.0.7
librosa==0.7.0
matplotlib==3.1.1
keract==3.1.0
scipy==1.4.1
Keras==2.2.4
numpy==1.18.2
tqdm==4.32.1
Flask==1.0.2
imbalanced_learn==0.6.2
pandas==0.24.2
imblearn==0.0
pyAudioAnalysis==0.3.0
scikit_learn==0.22.2.post1
